/* HEADER */

header nav{
    height: 70px;
    background-color: rgb(44, 62, 80);
}

header .dx-nav .menu{
    height: 30px;
    width: 40%;
    background-color: aqua;
}

header .dx-nav .links {
    height: 30px;
    width: 100%;
    background-color: yellow;
}

header .sx-nav,
header .dx-nav {
    height: 30px;
    width: 20%;
    background-color: brown;
}


ul{
    list-style: none;
}


/* MAIN */

.profile,
.title,
.decoration,
.info{
    background-color: blueviolet;
}

.title,
.decoration{
    height:70px;
    width: 50%;
}

h1,h2{
    text-align: center;
}

/* START */
.box.start,
.box.about{
    height: 600px;
    background-color: rgb(26, 188, 156);
}

.profile{
    height: 40%;
    width: 40%;
}

.info{
    height: 10%;
    width: 60%;
}

main .box .decoration .decor{
    height: 70%;
    width: 30%;
    background-color: yellow;
}

/* PORTFOLIO */

.box.portfolio .row img{
    border-radius: 30px;
    width: 100%;
}


/* ABOUT */
.contenitore-testo{
    height: 60%;
    width: 60%;
    background-color: black;
}

.testo{
    height: 60%;
    width: 60%;
    background-color: white;
}

.download{
    height: 60px;
    width: 100px;
    background-color: palevioletred;
}

/* FOOTER */

/* CONTACT ME */
.box.contact .dati{
    height: 250px;
    width: 50%;
    background-color: violet;
}

.box.contact .dati .box-dati{
    height: 20%;
    width: 30%;
    background-color: aliceblue;
}

.send{
    height: 100px;
        width: 50%;
        background-color: violet;
}

/* LOCATION */
.box.location{
    height: 400px;
    background-color: rgb(58, 84, 109);
}

.box.location .info-location{
    height: 25%;
    width: 60%;
    background-color: white;
}

/* COPYRIGHT */
.box.copyright{
    height: 100px;
    background-color: rgb(44, 62, 80);
}

.box.copyright .testo-copyright{
    height: 20px;
    width: 200px;
    background-color: white;
}