header nav{
    height: 70px;
    background-color: rgb(44, 62, 80);
}

header .sx-nav,
header .dx-nav{
    height: 30px;
    width: 20%;
    background-color: brown;
}

ul{
    list-style: none;
}

.box.start{
    height: 600px;
    background-color: rgb(26, 188, 156);
}

.profile,
.title,
.decoration,
.info{
    background-color: blueviolet;
}

.profile{
    height: 40%;
    width: 40%;
}

.title,
.decoration{
    height:70px;
    width: 50%;
}

.info{
    height: 10%;
    width: 60%;
}

main .box .decoration .decor{
    height: 70%;
    width: 30%;
    background-color: yellow;
}

h1{
    text-align: center;
}

.box.portfolio .row img{
    border-radius: 30px;
    width: 100%;
}


/* MEDIA QUERY */
@media screen and (min-width: 1121px){
    
}

@media screen and (min-width: 1651px) {}